*{
    margin: 0px;
    padding: 0px;
    
}
.fst-italic {
    font-style: italic !important;
}
small{
    font-family: "Heebo", sans-serif;
    color: #666565;
}
p {
    display: block;
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #666565;
} 
.bg-dark{
    background-color: #0F172B !important;
}  
.text-body {
    color: #666565 !important;
}
.active{
    color: #FEA116 !important;
}
h1{
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}
.nav-pills .nav-item .active {
    border-bottom: 2px solid #FEA116;
}

h5{
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
    transition: all 0.05s;
}
.fab{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
h6{
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}

.border-primary{
    border-color: #FEA116 !important;
}
.text-primary{
    color: #FEA116 !important;
}
a{
    text-decoration: none;
}
.ff-secondary {
    font-family: 'Pacifico', cursive;
}
.fontcomn{
    font-family: "Nunito", sans-serif;
}
.had h1{
    text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: 0.05s;
}
.navb a{
    color:white ;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    align-items: center;
    text-align: center;
}
.navb a:hover {
    color: #FEA116;
}
.hbtn{
    background-color: #FEA116;
    border: none;
}
.navb .hbtn:hover {
    background-color: white;
}
.hero-header{
    background:  linear-gradient(rgba(15, 23, 43, .8), rgba(15, 23, 43, .8)), url(../img/image-from-rawpixel-id-5926993-jpeg.jpg) ;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.textf h1{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 66.64px;

}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.hero-header img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
    100% { 
        transform: rotate(360deg); 
    } 
}
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}
.fa{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.service-item * {
    transition: .5s;
}
.service-item:hover{
    background-color: #FEA116;
}
.service-item :hover h5{
    color: white;
}
.service-item :hover i{
    color: white !important;
}
.service-item :hover p{
    color: white ;
}
.section-titlee::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: #FEA116;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: #FEA116;
}
.section-title {
    position: relative;
    display: inline-block;
}
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}
.btn-primary {
    color: white;
    background-color: #FEA116;
    border-color: #FEA116;
}

.btn:hover{
    color: #FEA116;
    background-color: white;
    border-color: #FEA116;
}
.fa-2x {
    font-size: 2em;
}
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(/img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #FEA116;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #FEA116;
    border-radius: 50%;
    transition: all 200ms;
}
.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid black;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: #FEA116;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 2px;
    /* transition: border-color  0.15s  ease-in-out, box-shadow 0.15s ease-in-out; */
}
.form-floating {
    position: relative;
}
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: calc(100% - 38px);
    transition: all 0.5s;
}
.team-item img {
    transition: all 0.5s ;

}
.btn-square, .btn-sm-square, .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}
.team-item .btn {
    border-radius: 38px 38px 0 0;
}
.btn-square {
    width: 38px;
    height: 38px;
}
.team-item:hover img{
    transform: scale(1.1)
}
.team-item:hover {
    height: 100%;
}
.footer .btnf.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer .btnf.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition:all 0.s;
    font-family: "Nunito", sans-serif;

    
}
.btn-link{
    transition: all 0.6s!important;
}
.btn-link:hover{
    letter-spacing: 2px!important;
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border-radius: 35px;
    transition: .3s;
}
.foh:hover{
    background-color: white;
    border-color: white;
   
}
.foh:hover i {
    color: #FEA116;
}
.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.btn-square, .btn-sm-square, .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.navb .dropdown a{
    color: white;
}
.dropdown a:hover{
    color: #FEA116;
}